@model IEnumerable<POSCreditRepayments.Web.ViewModels.FinancialInstitutions.AllFinancialInstitutionsViewModel>

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr class="row">
            <th class="col-md-6 text-center">Name</th>
            <th class="col-md-6 text-center">Approved</th>
        </tr>
    </thead>
    <tbody class="text-center">
        @foreach (var cp in Model)
        {
            <tr class="row">
                <td class="col-md-6">
                    @Html.ActionLink(cp.Name, "FinancialInstitutionProfile", "FinancialInstitution", new { id = cp.Id }, new { })
                </td>
                <td class="col-md-6">
                    @using (Ajax.BeginForm("ToggleFinancialInstitutionsStatus", "Admin", new { id = cp.Id },
                            new AjaxOptions
                            {
                                HttpMethod = "Post",
                                UpdateTargetId = "institutions",
                                InsertionMode = InsertionMode.Replace
                            },
                            new { }))
                    {
                        @Html.AntiForgeryToken()
                        if (cp.IsApproved)
                        {
                            <input type="submit" value="Disapprove" class="btn btn-danger" />
                        }
                        else
                        {
                            <input type="submit" value="Approve" class="btn btn-success" />
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>