@model System.Web.Mvc.HandleErrorInfo

<div class="container">
    <div class="box">
        <h2 class="text-danger text-center">An error occurred... We are sorry for the inconvenience!</h2>
        <img class="img-responsive center-block" src="~/Content/Images/error.jpg" />
    </div>
</div>