<div class="row">
    <div class="col-md-3 col-md-offset-6">
        <h4 class="control-label white"><strong>Search for Product</strong></h4>
    </div>
    <div class="col-md-3">
        <input type="text" id="product-search" class="form-control" />
    </div>
</div>
