﻿@model IPagedList<POSCreditRepayments.Web.ViewModels.Products.AllProductsViewModel>

<div class="container">

    @Html.Partial("_SearchProductsPartial")

    <br />
    <div class="container inner_content">
        <div class="row top-bottom-space">
            <div class="box">
                <div class="row">

                    @Html.Partial("_AllProductsPartial", Model)

                    <div class="clear"></div>
                </div>

                @Html.Partial("_PagerPartial", Model)
            </div>
        </div>
    </div>
</div>
