<div class="row">
    <div class="box" style="padding: 40px;">
        <h2>About the application</h2>

        <p>This is a course work for the Business informatics degree program at University of National and World Economy, Sofia, Bulgaria.</p>
        <p>
            The task is to create a POS credits repayment calculator. The main components of a loan repayment schedule and some algorithms for its calculation are analyzed. Data entry of financial parameters that are chosen by the client is implemented (e.g. principal and term or principal and installment). As a result a set of possibilities for financing are displayed, and a repayment schedule for each of them is generated and may be presented to the client.
        </p>
        <h3>Developed by</h3>
        <h4>Elena Pitsin</h4>
        <p>Faculty number: 11114121</p>
        <p>Stream: 133</p>
        <p>Group: 1315</p>
        <h3>Monitored by</h3>
        <h4>Monika Tsaneva</h4>
    </div>
</div>
