@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>POS Credit Repayments</h1>
    <p class="lead">Easily calculate your monthly payments :) Mindful buying has never been easier!</p>
    <p>For more information, please, visit the About page.</p>
</div>