<div class="container">
    <div class="box">
        <h2 class="text-danger text-center">Incorrect input! Go back and try again ;)</h2>
        <img class="img-responsive center-block" src="~/Content/Images/input.png" />
    </div>
</div>

