@model POSCreditRepayments.Web.ViewModels.Credits.CreditDisplayTemplateViewModel

<div class="row">
    <div class="box">
        <h2>Your calculated monthly payment is:</h2>

        @Html.DisplayForModel("CreditDisplayTemplateViewModel")

        @Html.ActionLink("Download PDF", "GeneratePdfEuroFormTemplate", Model, new { @class = "btn btn-lg btn-info" })
    </div>
</div>
